__pycache__
.idea
data/*
!data/.gitkeep
results/*
!results/.gitkeep

*.h5

test*.py

.docker/

sh_scripts/marker/*_loss_only/
sh_scripts/marker/subsample_log_per_epoch_clf/*_test.sh
sh_scripts/abundance/subsample_log_per_epoch/cirrhosis_cae_missing_0.7.sh
sh_scripts/abundance/subsample_log_per_epoch_clf/cirrhosis_cae_cluster_missing_one.sh

logs/